@charset "UTF-8";
/*For IE8*/
header, nav, section, article, aside, footer {
  display: block; }

/*================  HEADER  =====================*/
header {
  background: url(../img/bg.jpg) top center no-repeat;
  width: 100%;
  height: 699px;
  padding-top: 1px;
  background-size: cover;
  -ms-behavior: url(../img/bg.jpg/backgroundsize.htc); }

header .wrapper {
  max-width: auto;
  margin: 0 auto; }

header a {
  color: white;
  text-decoration: none;
  padding: 6px 15px 7px 15px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px; }

header a:nth-child(2) {
  border: 2px solid white;
  border-radius: 20px; }

.login {
  margin: 46px 0px 0px 500px;
  margin-left: 770px; }

.brand {
  margin: -18px 0px 0 47px;
  padding-bottom: 0;
  margin-left: 249px;
  width: 177px; }

.brand span {
  font: 21px "Montserrat", Arial, sans-serif;
  color: white; }

header section {
  text-align: center;
  padding-bottom: 271px;
  margin: 145px auto;
  margin-left: 473px;
  width: 495px;}

header section span {
  font: 52px "Montserrat", Arial, sans-serif;
  color: white; }

.sub__span {
  width: 83%;
  margin: 23px auto; }

.sub__span span {
  font: 24px "Roboto", Arial, sans-serif; }

.btn__pink {
  line-height: 35px;
  width: 225px;
  margin: 34px auto;
  height: 39px;
  background-color: #ff4e50;
  border-radius: 20px;
  font-size: 0px; }











/*=========================  CONTENT ===============================*/
#bigPicWork {
  display: none; }

.content {
  height: 815px;
  width: 100%;
  padding-top: 1px; }

.content .wrapper {
  max-width: 768px;
  margin: 0 auto; }

.content .wrapper--content {
  position: relative;
  width: 302px;
  margin: 0 auto;
  margin-bottom: 10px; }

.content .wrapper--content .content--description {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }

#fstDesc, #scdDesc, #thdDesc {
  margin-top: -173px;
  margin-left: 20px;
  padding-bottom: 13px;
  width: 263px; }

#scdDesc {
  margin-top: -143px;
  padding-bottom: 12px; }

#fstDesc a, #scdDesc a, #thdDesc a {
  text-decoration: none;
  color: white;
  font: 10px "Montserrat", Arial, sans-serif;
  letter-spacing: 2px;
  background-color: #ff4e50;
  padding: 4px 11px 3px 15px;
  border-radius: 10px; }

#fstDesc h2, #scdDesc h2, #thdDesc h2 {
  margin-top: 18px;
  font: 24px "Montserrat", Arial, sans-serif;
  color: white; }

#fstDesc span, #scdDesc span, #thdDesc span {
  margin-top: 13px;
  display: block;
  color: #b2b0ae;
  font: 14px "Roboto", Arial, sans-serif; }

.content article {
  margin-top: 32px;
  text-align: center;
  font: 22px "Montserrat", Arial, sans-serif;
  color: #333333;
  width: 100%;
  float: left;
  padding-bottom: 14px; }

.content ol, ul {
  visibility: hidden;
  position: absolute; }







  #smallPicWork {
    display: none; }

  #bigPicWork {
    display: block; }

  #fstDesc, #scdDesc, #thdDesc {
    width: 214px; }

  .content {
    height: 618px; }

  .content .wrapper {
    max-width: 768px; }

  .content .wrapper--content {
    float: left;
    width: 236px;
    height: 400px;
    margin-left: 11px;
    margin-right: 8px;
    overflow: hidden; }

  .content article {
    margin-top: 93px;
    margin-bottom: 20px; }

  .content img {
    width: 236px;
    height: 400px;
    object-fit: cover; }

  .wrapper--content .slides > li {
    display: none;
    -webkit-backface-visibility: hidden; }

  .wrapper--content .slides img {
    width: 100%;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; }

  .slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

  .content .wrapper--content {
    position: relative;
    zoom: 1;
    background: #ffffff; }

  .content ol, ul {
    list-style: none;
    visibility: visible;
    position: initial; }

  .content .wrapper--content .slides {
    zoom: 1; }

  .flex-direction-nav a {
    display: block;
    position: absolute;
    width: 50px;
    height: 60px;
    top: 10%;
    cursor: pointer;
    text-indent: -9999px; }

  .flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 64px;
    height: 60px;
    left: 17px;
    background: url(../img/arrows.png) no-repeat;
    background-size: contain; }

  .flex-direction-nav a:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 35px; }

  .flex-direction-nav .flex-next {
    right: 4px; }

  .flex-direction-nav .flex-prev {
    overflow: hidden; }

  .flex-direction-nav .flex-next:before {
    background-position: -34px 0;
    left: 1px; }

  .flex-direction-nav .flex-prev:before {
    background-position: 0 0; }

  .flex-direction-nav .flex-next:after {
    right: 0; }

  .flex-direction-nav .flex-prev:after {
    left: 0; }

  .wrapper--content .flex-control-nav {
    position: absolute;
    width: 100%;
    bottom: -40px;
    text-align: center;
    margin: 0 0 0 -10px; }

  .flex-control-nav li {
    display: inline-block;
    zoom: 1; }

  .flex-control-paging li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    background-color: #b6b6b6 \9;





    .content img {
      width: 300px;
      height: 400px;
      object-fit: cover; }

    .content .wrapper {
      max-width: 968px; }

    .content .wrapper--content {
      width: 300px;
      margin-right: 11px; }

    #fstDesc, #scdDesc, #thdDesc {
      width: 262px; }

    .flex-direction-nav a {
      top: 38%; }







/*==========================  PARTNERS  ===============================*/
.partners {
  height: 1100px;
  width: 100%;
  padding-top: 1px; }

.partners .wrapper {
  max-width: 768px; }

.partners article {
  font: 22px "Montserrat", Arial, sans-serif;
  color: #333333;
  width: 82%;
  margin: 0 auto;
  margin-top: 31px;
  text-align: center; }

.partners .fstPartner, .scdPartner, .thdPartner, .fthPartner {
  margin-top: 13px;
  margin-bottom: 42px;
  height: 186px;
  text-align: center; }

.partners .scdPartner {
  margin-bottom: 78px; }

.partners h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font: 14px "Montserrat", Arial, sans-serif; }

.partners span {
  font: 14px "Roboto", Arial, sans-serif;
  width: 217px;
  display: block;
  margin: 0 auto; }

.partners img {
  position: relative;
  left: 20px;
  border-radius: 50%; }

#photo {
  width: 121px;
  height: 120px; }

.partners img.round {
  top: 4px;
  left: -21px; }

.partners a {
  text-decoration: none;
  font: 14px "Montserrat", Arial, sans-serif;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  text-align: center;
  display: block;
  width: 281px;
  margin: 0 auto;
  line-height: 37px; }

/*==========================  IDEAS   ===============================*/
.ideas {
  width: 100%;
  height: 1023px;
  padding-top: 1px;
  width: 320px;
  margin: 0px auto;
  padding-bottom: 38px; }

.ideas article {
  font: 22px "Montserrat", Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #333333; }

.ideas div {
  width: 300px;
  height: 121px;
  margin: 8px auto;
  display: flex; }

.ideas h1 {
  font: 22px "Montserrat", Arial, sans-serif;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 220px;
  margin: auto; }

.ideas h1::first-letter {
  text-transform: uppercase; }

#Pic5 h1 {
  width: 250px; }

#Pic1, #Pic2, #Pic3, #Pic4, #Pic5, #Pic6, #Pic7 {
  background-size: cover; }

/*==========================  SEARCH   ===============================*/
.search {
  height: 230px;
  width: 100%; }

.search .wrapper {
  max-width: 768px; }

.search article {
  text-align: center;
  font: 22px "Montserrat", Arial, sans-serif;
  text-align: center;
  color: #333333; }

.search h1 {
  font: 18px "Roboto", Arial, sans-serif;
  color: #333333;
  text-align: center;
  margin-top: 8px; }

.search button {
  border: 0px;
  font: 14px "Montserrat", Arial, sans-serif;
  color: white;
  border-radius: 20px;
  text-align: center;
  display: block;
  width: 284px;
  margin: 10px auto;
  height: 41px;
  background-color: #ff4e50;
  line-height: 40px; }

.searchForm input {
  font: 14px "Roboto", Arial, sans-serif;
  color: #ccc;
  border: 1px solid #ccc;
  height: 39px;
  width: 282px;
  border-radius: 3px;
  margin: auto;
  margin-top: 16px;
  display: flex;
  padding-left: 15px; }

/*==========================  FOOTER   ===============================*/
footer {
  height: 193px;
  width: 100%;
  border-top: 3px solid #ff4e50;
  padding-top: 1px; }

footer .wrapper {
  max-width: 768px; }

footer article {
  font: 16px "Montserrat", Arial, sans-serif;
  text-align: center;
  color: #ff4e50;
  margin-top: 16px; }

footer span {
  font: 14px "Montserrat", Arial, sans-serif;
  color: #333;
  margin-top: 11px;
  text-align: center;
  display: block; }

.about {
  text-align: center;
  margin-top: 3px; }

.about a {
  text-decoration: none;
  font: 14px "Roboto", Arial, sans-serif;
  color: #858585;
  padding-right: 8px; }

.about a:nth-child(2) {
  padding-right: 5px; }

.about a:nth-child(3) {
  padding-right: 0px;
  padding-left: 6px; }

.about a:nth-child(4) {
  padding-left: 11px; }

footer figure {
  text-align: center; }

footer figure span {
  font: 10px "Montserrat", Arial, sans-serif;
  color: #ccc;
  margin-top: 14px;
  margin-bottom: 7px; }

@media screen and (min-width: 321px) {
  .login {
    text-align: center; } }
@media screen and (min-width: 768px) {
  header .wrapper, footer .wrapper, .search .wrapper, .ideas .wrapper, .partners .wrapper, .content .wrapper--content {
    max-width: 1440px; }

  /*================  HEADER  =====================*/


  /*================  CONTENT  =====================*/
 }

  /*==========================  PARTNERS  ===============================*/
  .partners {
    height: 735px; }

  .partners .fstPartner {
    margin-top: 30px;
    margin-right: 253px; }

  .partners .scdPartner {
    margin: 74px 0px 0px -252px; }

  .partners .thdPartner {
    margin: -445px 0 0 259px; }

  .partners .fthPartner {
    margin: 50px 0 0 285px; }

  .partners a {
    margin-top: 109px;
    width: 188px; }

  /*==========================  IDEAS   ===============================*/
  .ideas {
    height: 1145px;
    width: 768px; }

  .ideas div {
    width: 236px;
    height: 311px; }

  #Pic1, #Pic2, #Pic3 {
    margin: 32px 9px 0 9px; }

  #Pic4, #Pic5 {
    margin: 18px 7px 0 10px; }

  #Pic5, #Pic6 {
    width: 492px;
    height: 311px; }

  #Pic6, #Pic7 {
    margin: 16px 9px 0 9px; }

  #Pic2 h1 {
    width: 200px; }

  /*==========================  SEARCH   ===============================*/
  .search {
    height: 258px; }

  .search h1 {
    margin-top: 30px; }

  .searchForm input {
    float: left;
    margin: 38px 0 0 178px;
    width: 238px; }

  .search button {
    float: right;
    margin: 38px 180px 0 0;
    width: 161px; }

  /*==========================  FOOTER   ===============================*/
  footer .wrapper {
    margin-top: 19px; }

  footer article {
    float: left;
    margin-left: 39px;
    letter-spacing: 1px;
    margin-top: -11px; }

  footer span {
    float: left;
    margin: -11px 0 0 80px;
    letter-spacing: 1px; }

  footer .footer--partners {
    float: initial;
    margin: -120px 170px 0 0; }

  footer .about {
    width: 63px;
    margin: 46px 0 0 266px;
    text-align: left; }

  footer .about a {
    display: block;
    padding: 7px 0 0px 0; }

  .about a:nth-child(1) {
    padding-top: 20px; }

  .about a:nth-child(2) {
    padding-right: 0px; }

  .about a:nth-child(3) {
    padding-right: 0px;
    padding-left: 0px; }

  .about a:nth-child(4) {
    padding-left: 0px; }

  footer figure {
    float: right;
    margin: -31px -11px 0px 0;
    width: 212px; } }
@media screen and (min-width: 1440px) {
  /*================  HEADER  =====================*/


  /*=========================  CONTENT ===============================*/

  /*==========================  PARTNERS  ===============================*/
  .partners {
    height: 476px;
    margin: 0 auto; }

  .partners .wrapper {
    max-width: 983px;
    height: 445px;
    margin: 0 auto; }

  .partners .wrapper figure {
    margin: 32px 0 0 24px;
    float: left; }

  .partners a {
    margin-top: 303px; }

  /*==========================  IDEAS   ===============================*/
  .ideas div {
    width: 300px;
    height: 310px; }

  #Pic5, #Pic6 {
    width: 620px;
    height: 310px; }

  .ideas {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 103px; }

  #Pic2 h1 {
    width: 230px; }

  /*==========================  SEARCH   ===============================*/
  .search .wrapper {
    max-width: auto;
    margin: 0 auto; }

  .searchForm input {
    margin-left: 514px;
    width: 225px; }

  .search button {
    margin: 40px 499px 0 0; }

  /*==========================  FOOTER   ===============================*/
  footer .wrapper {
    width: 1440px;
    margin: 0 auto; }

  footer figure {
    margin: -31px 199px 0px 0; }

  footer article {
    margin-left: 247px;
    margin-top: -9px; }

  footer .footer--partners {
    margin: -118px 637px 0 0; }

  footer span {
    margin: -9px 0 0 93px; }

  footer figure span {
    margin-top: 14px;
    margin-bottom: 7px;
    margin-left: 82px; }

  footer .about {
    margin: 46px 0 0 489px; } }

/*# sourceMappingURL=style.css.map */
